/* lingua.css */
.container {
    display: grid;
    grid-template-columns: 45% auto 45%;
    grid-template-rows: 10vh 45vh 45vh;
    grid-template-areas:
        "btn btn btn"
        "tl gutter tr"
        "bl gutter br";
}

.tl {
    grid-area: tl;
}

.btn-row {
    grid-area: btn;
    background-color: "lightblue";
}